body {
  color: blue;
  height: 20px;
}

a {
  font-size: 14px;
  padding: 0 50px;
  margin: 0 0 5px;
  height: 10em;
}

p {
  line-height: 30px;
  background: red;
  position: absolute;
}

div {
  line-height: 2em;
  font-size: 1em;
  padding: 0 30px 2em 100px;
}